.wordle {
    text-align: center;
}

li {
    list-style-type: none;
    margin: 5px;
}

input {
    color: red;
    border-radius: 2px;
    height: 20px;
    width: 80px;
}

.correct, .incorrect, .missplaced, .boxcolor {
    border-radius: 3px;
    display: inline-block;
    height: 35px;
    font-family: monospace;
    font-size: xx-large;
    margin: 4px;
    padding-top: 5px;
    text-transform: uppercase;
    width: 40px;
}

.correct {
    background-color: rgb(43, 121, 43);  
}

.incorrect {
    background-color: rgb(99, 38, 38);
}

.missplaced {
    background-color: rgb(224, 224, 138);
}

.boxcolor {
    background-color: grey;
    color: grey; 
}

.hide {
    display: none;
}

.correctGuess {
    text-align: center;
}